/* General stuffs */
:root {
    --black: #272727;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  a:hover, a:link, a:visited {
    color: var(--black);
    cursor: pointer;
  }
  
  body {
    background-attachment: fixed;
    background-image: url("./images/teeth2.png");
    min-height: calc(100vh - 100px);
    margin: 10px;
    padding: 10px;
  }

  .card-doc {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .card-hygen {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  
  #doctors-card {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0 0 15px 0 !important;
    text-align: center;
  }

  html {
    /* border-box box model allows us to add padding and border to our elements without increasing their size */
    box-sizing: border-box;
    /* A system font stack so things load nice and quick! */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
      Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: var(--black);
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
  }

  .image {
    display: flex;
    justify-content: flex-start;
    padding-left: 2%;
  }
  .item {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #d2e5e5;
  }
  
  .item p {
    margin: 0 5px 5px 5px;
  }

.page-link {
  background-color: #d2e5e5 !important;
  font-size: 2em;
}

ul {
    list-style-type: none;
}

.title {
  align-content: flex-start;
  display: flex;
  justify-content: flex-start;
  margin-bottom: -8%;
  margin-top: 5%; 

}
.title-ult {
  margin-top: -5%;
}

@media (max-width: 700px) {
  .cont {
    grid-template-areas: 
    "header     header      header"
    "content    content     content"
    "sidebar-1  sidebar-1   sidebar-2"
    "footer     footer      footer"
  }
}

/* Specific stuffs */

/* Container with header, sidebar, content, and footer */
.cont {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: 
    "header     header    header        header      header"
    "sidebar-1  content   content       content     content"
    ".          content   content       content     content"
    "footer     footer    footer        footer      footer";
}

.cont > .footer {
  bottom: 0;
  border: solid #a8b7b7; 
  grid-area: footer;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 150px;
  margin: 0;
  position: sticky;
  z-index: -1;
}

.cont > .header {
  border: solid #a8b7b7; 
  grid-area: header;
  grid-template-columns: 7fr 7fr;
  position: sticky;
  top: 0;
}

.cont > .item1 {
  border: solid #a8b7b7; 
  grid-area: sidebar-1;
  position: sticky;
  top: 300px;
}

.cont > .item2 {
  border: solid #a8b7b7; 
  grid-area: content;
  margin-right: 10%;
  padding-left: 5%;
  padding-right: 5%;
  z-index: -2
}

/* About Section */
  .about {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template: 150px 150px 150px;
}

.card-experience {
    background-color: #dbdbdb !important;
}

.card-service {
    background-color: #e5e5e5 !important;
}

.card-care {
    background-color: #ececec !important;
}

/* Patient Info Section */
.patient-info {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template: 150px 150px 150px;
}

.card1{
    background-color: #dbdbdb !important;
}

.card2{
    background-color: #e5e5e5 !important;
}

.card3{
    background-color: #ececec !important;
}

.card4{
    background-color: #f2f2f2 !important;
}

.card5{
    background-color: #f9f9f9 !important;
}

.card6{
    background-color: #fafafa !important;
}

/* The Modal (background) */
.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 9999999999; /* Sit on top */
padding-top: 100px; /* Location of the box */
left: 200px;
top: 10px;
width: 50%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
background-color: #fefefe;
margin: auto;
padding: 20px;
border: 1px solid #888;
width: 40% !important;
}

#myBtn {
cursor: pointer;
}

/* The Modal Close Button */
.close {
color: #aaaaaa;
display: flex;
font-size: 28px;
font-weight: bold;
justify-content: right;
}

.close:hover,
.close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}



  